@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
}

a {
  
  text-decoration: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  font-family: var(--font-lato), serif;
}

h1, h2, h3, h4, h5, h6, .font-serif {
  font-family: var(--font-playfair), serif;
}

/* Marquee Animation - True Infinite Loop */
@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
  will-change: transform;
}